node_modules/
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/captures/
android/app/release/
android/app/debug/
*.apk
*.aab
*.keystore
*.jks
.DS_Store
